@use "~@deloitte-digital-au/ddbreakpoints/lib/dd.breakpoints" as bp;
@use "./_includes/zindex";
@use "./_includes/theme";
@use "./_includes/utils";

// ==========================================================================
// HEADER
// ==========================================================================

.g-header {
	z-index: zindex.$header;
	border-bottom: 2px solid var(--theme-border);
	padding: utils.rem(20) 0;

	.l-padding {
		display: flex;
		flex-wrap: nowrap;
		align-items: baseline;
		align-content: flex-start;
	}

	._btn-offscreen {
		position: relative;
		left: utils.rem(-8);
	}

	._logo {
		display: block;
		height: utils.rem(35);
		width: utils.rem(75);
		position: relative;
		bottom: utils.rem(-4);
		margin-right: utils.rem(20);
	}

	._logo--img {
		display: block;
		width: 100%;
	}

	._title {
		@include theme.feature-family();
		font-size: var(--font-size-h4);
		line-height: 1;
	}
}

.g-nav {
	align-self: flex-end;
}
