@use "~@deloitte-digital-au/ddbreakpoints/lib/dd.breakpoints" as bp;
@use "./../_includes/theme";
@use "./../_includes/utils";

// ==========================================================================
// RICH TEXT
// ==========================================================================

// HEADINGS
// ==========================================================================

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	@include theme.feature-family();
	line-height: var(--font-heading-line-height);
	color: var(--theme-heading-color);
	margin: var(--font-heading-margins) 0 var(--font-heading-margins-xs);

	&:first-child {
		margin-top: 0;
	}
}

h1,
.h1 {
	font-size: var(--font-size-h1);
}

h2,
.h2 {
	font-size: var(--font-size-h2);
}

h3,
.h3 {
	font-size: var(--font-size-h3);
}

h4,
.h4 {
	font-size: var(--font-size-h4);
}

h5,
.h5 {
	font-size: var(--font-size-h5);
	margin-top: var(--font-heading-margins-s);
}

h6,
.h6 {
	font-size: var(--font-size-h6);
	margin-top: var(--font-heading-margins-s);
}

// BASE TEXT
// ==========================================================================

p,
pre,
dl,
menu,
ol,
ul {
	margin: var(--font-margins);
	color: var(--theme-paragraph-color);

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

hr {
	margin: 30px 0;
	border: none;
	background-color: var(--theme-border);
	height: var(--theme-border-width);
	border-radius: var(--theme-border-radius);
}

// BASE LIST STYLES
// ==========================================================================

li {
	margin-top: 10px;

	&:first-child {
		margin-top: 0;
	}

	li:first-child {
		margin-top: 10px;
	}
}

ul,
ol {
	padding-left: 35px;

	ul,
	ol {
		margin-bottom: 0;
	}
}

dl {
	dt {
		color: var(--theme-heading-color);
		font-weight: bold;
		margin-top: 10px;

		& + dt {
			margin-top: 0;
		}
	}

	dd {
		margin-left: 0;
	}
}

// RTE TEXT CLASSES
// ==========================================================================

.text-intro {
	@include theme.base-family-hero();
}

.text-subtitle {
	@include theme.base-family-subtitle();
}

// FIGURES
// ==========================================================================

figure {
	margin: var(--component-spacing) 0;
	position: relative;

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	figcaption {
		font-size: var(--font-size-s);
		color: var(--theme-paragraph-color);
		margin-top: utils.rem(15);

		p {
			margin: 0;
		}
	}
}

// BLOCK QUOTE
// ==========================================================================

// TODO proper styles using theme/rems

blockquote {
	@include theme.feature-family();
	font-size: var(--font-size-h2);
	color: var(--theme-primary);
	margin: var(--component-spacing) 0;

	footer {
		@include theme.base-family();
		font-size: var(--font-size-m);
		margin-top: utils.rem(10);
		color: var(--theme-paragraph-color);
	}
}

// CODE
// ==========================================================================

code {
	tab-size: 4;
}

p > code,
li > code {
	background: var(--theme-grey-light);
	font-size: 0.9em;
	padding: 0 utils.rem(4);
	border-radius: var(--theme-border-radius);
}
