---
title: Hero Components
eleventyNavigation:
  key: Hero Components
  parent: Components
  excerpt: Hero components can be used in a full width capacity or in the main column.
---

{% extends "layouts/docs/index-page.njk" %}
