{%- import "layouts/base.njk" as base with context -%}
{%- import "global/header.njk" as header with context -%}
{%- import "global/footer.njk" as footer with context -%}

{{ base.head(title, config.env) }}

<body>
	{{ base.pageTop() }}
	{{ header.renderA11yLinks() }}

	<div class="page-wrap-outer">
		<div class="page-wrap">

			{{ header.renderHeader() }}

			<!-- START .l-layout -->
			<div class="l-layout">
				{% block above %}{% endblock %}

				<!-- START .l-content-container -->
				<div class="l-content-container l-two-column-left l-padding">

					<!-- START .l-main -->
					<main id="main" tabindex="-1" role="main" class="l-main">
						{% block main %}
							{{ content | safe }}
						{% endblock %}
					</main>
					<!-- END .main -->

					<!-- START .l-complementary -->
					<aside role="complementary" class="l-col-right">
						{% block right %}
							Complementary
						{% endblock %}
					</aside>
					<!-- END .l-complementary -->

				</div>
				<!-- END .l-content-container -->

				{% block below %}{% endblock %}
			</div>
			<!-- END .l-layout -->

			{{ footer.render() }}
		</div>
	</div>

	{{ base.pageBottom() }}
</body>
</html>