---
title: Content Components
eleventyNavigation:
  key: Content Components
  parent: Components
  excerpt: Content components can be used in the main column, or left/right columns.
---

{% extends "layouts/docs/index-page.njk" %}
