{#
HERO BANNER
--------------
Hero banner with title and options

Options
-------

{
	subtitle: '',
	title: '',
	desc: '',
	cta: {
		href: '',
		text: ''
	},
	hasFilterResults: false,
	hasPaddingSmall: false,
}

#}

{% import "utils/svg.njk" as svg %}

{% macro render(heroBannerTitle, options={}) -%}
	{%- set classes = ['c-hero-banner'] -%}

	{%- if options.bgImage or options.bgVideo -%}
		{%- set classes = (classes.push('has-bg-media'), classes) -%}
	{%- endif -%}

	{%- if options.hasPaddingSmall -%}
	{%- set classes = (classes.push('has-padding-small'), classes) -%}
	{%- endif -%}

	<header class="{{- classes | join(" ") -}}">
		{% if options.bgImage and not options.bgVideo %}
		<div class="_bg-image{% if options.bgImageDark %} prefers-light-block{% endif %}" style="background-image: url({{ options.bgImage }});"></div>
			{% if options.bgImageDark %}
			<div class="_bg-image prefers-dark-block" style="background-image: url({{ options.bgImageDark }});"></div>
			{% endif %}
		{% endif %}

		{% if options.bgVideo %}
		<video class="_bg-video" autoplay loop>
			<source src="{{ options.bgVideo }}" type="video/mp4" />
		</video>
		{% endif %}

		<div class="l-padding">
			<div class="_content">
				{% if options.subtitle %}<span class="_subtitle text-subtitle">{{ options.subtitle }}</span>{% endif %}
				<h1 class="_title">{{ heroBannerTitle | safe }}</h1>
				{% if options.desc %}<p class="_desc">{{ options.desc | safe }}</p>{% endif %}
				{% if options.cta %}<a class="link-icon is-right" href="{{ options.cta.href }}">{{ options.cta.text }}{{ svg.render('caret-right') }}</a>{% endif %}
			</div>
		</div>
	</header>
{%- endmacro %}

