@use "@deloitte-digital-au/ddbreakpoints/lib/dd.breakpoints" as bp;
@use "./utils";

// ==========================================================================
// THEME
// ==========================================================================

// BRANDING
// ==========================================================================

:root {
	color-scheme: light dark;

	// primary brand
	--theme-primary-light: #0099CC;
	--theme-primary: #0B5B97;
	--theme-primary-a99: #0B5B9799;
	--theme-primary-darker: #003366;

	// greyscale
	--theme-white: #FFF;
	--theme-grey-100: #F2f2f6;
	--theme-grey-200: #EEE;
	--theme-grey-400: #999;
	--theme-grey-500: #777;
	--theme-grey-700: #3F3F3F;
	--theme-grey-800: #272727;
	--theme-grey-900: #222;
	--theme-black: #000;

	// standard borders
	--theme-border: light-dark(var(--theme-grey-200), var(--theme-grey-700));

	// text
	--theme-paragraph-color: light-dark(var(--theme-grey-900), var(--theme-white));
	--theme-paragraph-subdued-color: light-dark(var(--theme-grey-500), var(--theme-grey-400));
	--theme-heading-color: light-dark(var(--theme-grey-900), var(--theme-white));

	// text on inverted (light) background
	--theme-paragraph-color-on-inverted: light-dark(var(--theme-white), var(--theme-grey-900));
	--theme-paragraph-subdued-color-on-inverted: light-dark(var(--theme-grey-400), var(--theme-grey-500));
	--theme-heading-color-on-inverted: light-dark(var(--theme-white), var(--theme-grey-900));

	// text on nav
	--theme-paragraph-color-on-nav: light-dark(var(--theme-grey-900), var(--theme-white));
	--theme-paragraph-subdued-color-on-nav: light-dark(var(--theme-grey-500), var(--theme-grey-400));
	--theme-heading-color-on-nav: light-dark(var(--theme-grey-900), var(--theme-white));

	// links
	--theme-link-color-default: light-dark(var(--theme-paragraph-color), var(--theme-white));
	--theme-link-color-visited: light-dark(var(--theme-paragraph-color), var(--theme-white));
	--theme-link-color-hover: light-dark(var(--theme-primary), var(--theme-primary));
	--theme-link-color-active: light-dark(var(--theme-primary-darker), var(--theme-primary-darker));

	// backgrounds
	--theme-bg-default: light-dark(var(--theme-white), var(--theme-grey-900));
	--theme-bg-shaded: light-dark(var(--theme-grey-100), var(--theme-grey-700));
	--theme-bg-nav: light-dark(var(--theme-grey-100), var(--theme-grey-800));
	--theme-bg-header: light-dark(var(--theme-grey-200), var(--theme-grey-900));
	--theme-bg-footer: light-dark(var(--theme-white), var(--theme-grey-900));
	--theme-bg-person-image: light-dark(var(--theme-grey-200), var(--theme-grey-800));
	--theme-bg-scrollbars: light-dark(var(--theme-grey-400), var(--theme-grey-500));
	--theme-bg-input: light-dark(var(--theme-white), var(--theme-grey-700));

	// hero banner
	--theme-hero-banner-bg-gradient-start: light-dark(#{utils.hex-to-rgba(#FFF, 0)}, #{utils.hex-to-rgba(#222, 0)});
	--theme-hero-banner-bg-gradient-mid: light-dark(#{utils.hex-to-rgba(#FFF, 0.3)}, #{utils.hex-to-rgba(#222, 0.3)});
	--theme-hero-banner-bg-gradient-end: light-dark(var(--theme-bg-default), var(--theme-bg-default));

	// statuses
	--theme-status-warning: light-dark(#FFC107, #FFC107);
	--theme-text-on-status-warning: light-dark(var(--theme-grey-800), var(--theme-grey-800));

	--theme-transition-duration: 500ms;
}

:root { accent-color: var(--theme-primary); }
:focus-visible { outline-color: var(--theme-primary); }
::selection { background-color: var(--theme-primary-a99); }
::marker { color: var(--theme-primary); }

html.use-theme-device { color-scheme: normal; }
html.use-theme-light { color-scheme: light; }
html.use-theme-dark { color-scheme: dark; }

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Variable.woff2') format('woff2-variations');
	src: url('../fonts/OpenSans-Variable.woff2') format('woff2') tech('variations');
	font-weight: 300 800;
	font-stretch: 75% 100%;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic-Variable.woff2') format('woff2-variations');
	src: url('../fonts/OpenSans-Italic-Variable.woff2') format('woff2') tech('variations');
	font-weight: 300 800;
	font-stretch: 75% 100%;
	font-style: italic;
}

:root {
	// BORDERS & SPACING
	// ==========================================================================

	// standard borders
	--theme-border-radius: #{utils.rem(2)};
	--theme-border-width: 2px;
	--theme-border-width-s: 1px;
	--theme-border-radius-img: var(--theme-border-radius);
	--theme-border-radius-profile-image: 50%;

	// spacing
	--component-spacing: #{utils.rem(26)};
	--component-padding: #{utils.rem(26)};

	--nav-offscreen-width: #{utils.rem(350)};

	// FONTS
	// ==========================================================================

	--font-line-height: 1.6;
	--font-line-height-s: 1.4;
	--font-form-line-height: 1.2;
	--font-heading-line-height: 1.1;

	// margins
	--font-margins: #{utils.rem(14)} 0;
	--font-heading-margins: #{utils.rem(36)};
	--font-heading-margins-s: #{utils.rem(24)};

	// fonts
	--font-family: 'Open Sans', sans-serif;
	--font-weight: 400;
	--font-feature-family: 'Open Sans', sans-serif;
	--font-feature-weight: 300;

	// font-weight
	--font-weight-light: 300;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;

	// FONT SIZES
	// ==========================================================================

	// heading front sizes
	--font-size-h1: #{utils.rem(60)};
	--font-size-h2: #{utils.rem(30)};
	--font-size-h3: #{utils.rem(26)};
	--font-size-h4: #{utils.rem(20)};
	--font-size-h5: #{utils.rem(18)};
	--font-size-h6: #{utils.rem(16)};

	// base font sizes
	--font-size-huge: #{utils.rem(120)};
	--font-size-xxxl: #{utils.rem(70)};
	--font-size-xxl: #{utils.rem(40)};
	--font-size-xl: #{utils.rem(20)};
	--font-size-l: #{utils.rem(18)};
	--font-size: #{utils.rem(16)};
	--font-size-s: #{utils.rem(14)};
	--font-size-xs: #{utils.rem(12)};
	--font-size-xxs: #{utils.rem(10)};

	@include bp.get(m) {
		--font-size-h1: #{utils.rem(80)};
		--font-size-h2: #{utils.rem(36)};
		--font-size-h3: #{utils.rem(30)};
		--font-size-h4: #{utils.rem(26)};
		--font-size-h5: #{utils.rem(22)};
		--font-size-h6: #{utils.rem(18)};
	}

	@include bp.get(xl) {
		--font-size-h1: #{utils.rem(120)};
		--font-size-h2: #{utils.rem(36)};
		--font-size-h3: #{utils.rem(30)};
		--font-size-h4: #{utils.rem(26)};
		--font-size-h5: #{utils.rem(22)};
		--font-size-h6: #{utils.rem(18)};
	}
}

// BASE FONTS
// ==========================================================================

@mixin base-family() {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
}

// FEATURE FONTS
// ==========================================================================

@mixin feature-family() {
	font-family: var(--font-feature-family);
	font-weight: var(--font-feature-weight);
	letter-spacing: normal;
}
