{#
GLOBAL HEADER
--------------
Contains the page header and navigation
#}

{% import "utils/svg.njk" as svg %}
{% import "components/toggle-theme.njk" as themeToggle %}

{# A11Y LINKS #}
{% macro renderA11yLinks() %}
{# <!-- A11y Links - not required for very simple sites  --> #}
{% endmacro %}

{# HEADER #}
{% macro renderHeader() %}
<!-- START Global Header -->
<header class="g-header">
	<div class="l-padding">
		<button class="btn-offscreen _btn-offscreen js-dialog-trigger" aria-label="Toggle Navigation" for="nav-offscreen">
			<svg viewBox="0 0 100 100">
				<path class="_svg-line _svg-line-top" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
				<path class="_svg-line _svg-line-middle" d="M 20,50 H 80" />
				<path class="_svg-line _svg-line-bottom" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
			</svg>
		</button>
		
		<a href="/" class="home-link">{{ metadata.title }}</a>

		{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
		<nav class="_nav">
			<h2 class="vh">Top level navigation menu</h2>
			<ul class="_nav-list">
			{%- for homeEntry in collections.all | eleventyNavigation %}
				<li class="_nav-item"><a href="{{ homeEntry.url }}"{% if homeEntry.url == page.url %} aria-current="page"{% endif %}>{{ homeEntry.title }}</a></li>

				{%- for entry in homeEntry.children %}
				<li class="_nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
			{%- endfor %}
			</ul>
		</nav>
	</div>
</header>
<!-- END Global Header -->

<!-- START Global Offscreen Navigation -->
<dialog id="nav-offscreen" class="g-nav-offscreen">
	<div class="_nav-padding">
		<header class="_header">
			<a href="/" class="_logo" aria-label="{{ config.siteTitle }}">
				<img class="_logo--img prefers-light-block" src="/assets/img/site-logo.svg" alt="Eleventy Starter Logo" />
				<img class="_logo--img prefers-dark-block" src="/assets/img/site-logo-dark.svg" alt="Eleventy Starter Logo" />
			</a>

			<button aria-label="Toggle Navigation" class="btn-offscreen js-dialog-trigger is-expanded" for="nav-offscreen">
				<svg viewBox="0 0 100 100">
					<path class="_svg-line _svg-line-top" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
					<path class="_svg-line _svg-line-middle" d="M 20,50 H 80" />
					<path class="_svg-line _svg-line-bottom" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
				</svg>
			</button>
		</header>

		<section class="nav-content">
			<nav class="_nav">
				<h2 class="vh">Top level navigation menu</h2>
				<ul class="_nav-list">
				{%- for homeEntry in collections.all | eleventyNavigation %}
					<li class="_nav-item"><a href="{{ homeEntry.url }}"{% if homeEntry.url == page.url %} aria-current="page"{% endif %}>{{ homeEntry.title }}</a></li>

					{%- for entry in homeEntry.children %}
					<li class="_nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
					{%- endfor %}
				{%- endfor %}
				</ul>
			</nav>
		</section>

		<section class="_theme-toggle">
			{{ themeToggle.render('nav-') }}
		</section>
	</div>
</dialog>
<!-- END Global Offscreen Navigation -->

{% endmacro %}
