{#
SITE STRUCTURE
--------------
Contains the standard head and scripts to be added to the page top/bottom
#}

{# HEAD #}
{% macro head(title='PAGE TITLE NOT SET', env='') -%}
<!DOCTYPE html>
<html class="supports-no-js page-is-loading{% if env == 'development'%} is-debug{% endif %}" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />

	<!-- TODO: Favicons/theme -->

	<title>{{ title }} | Deloitte Digital HTML Templates</title>

	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link href="/assets/css/style.css" rel="stylesheet" />

	<!-- START: Custom fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
	<!-- END: Custom fonts -->

	<!-- START: Only include for developer previews -->
	<link href="/assets/css/dev.css" rel="stylesheet" />
	<!-- END: Only include for developer previews -->

	<!-- TODO: JS head scripts -->
</head>
{%- endmacro %}

{# PAGE TOP #}
{% macro pageTop(title='PAGE TITLE NOT SET') %}
	<!-- TODO: Tracking scripts for page head -->
{% endmacro %}

{# PAGE BOTTOM #}
{% macro pageBottom(title='PAGE TITLE NOT SET') %}
	<!-- TODO: Scripts, Icons and Build Info? -->
	<script src="/assets/js/app.js"></script>
{% endmacro %}
