---
{
	title: 'Blog',
	numberOfLatestPostsToShow: 3,
	eleventyNavigation: {
		key: 'Blog',
		order: 2,
		parent: 'Home',
	},
}
---

{% extends "layouts/one-column.njk" %}

{% import "components/hero-banner.njk" as heroBanner with context %}
{% import "global/breadcrumbs.njk" as breadcrumbs with context %}
{% import "blog/postslist.njk" as postsList with context %}

{% block above %}
	{{ heroBanner.render('Blog', {
		bgImage: '/assets/img/hero-banner.jpg',
		bgImageDark: '/assets/img/hero-banner-dark.jpg'
	}) }}
	
	{{ breadcrumbs.render() }}
{% endblock %}

{% block main %}
	{{ postsList.render(collections.posts) }}
{% endblock %}