---
title: Global Components
eleventyNavigation:
  key: Global Components
  parent: Components
  excerpt: Global components are used on every page of the site.
---

{% extends "layouts/docs/index-page.njk" %}
