// ==========================================================================
// ANIMATIONS
// ==========================================================================

:root {
	--anim-duration-fast: 100ms;
	--anim-duration-normal: 250ms;
	--anim-duration-slow: 400ms;
}
