@use "~@deloitte-digital-au/ddbreakpoints/lib/dd.breakpoints" as bp;
@use "./utils";

// ==========================================================================
// THEME
// ==========================================================================

// BRANDING
// ==========================================================================

:root {
	// primary brand
	--theme-primary: #81BC00;
	--theme-primary-darker: #68A300;

	// black & white
	--theme-black: #000;
	--theme-white: #FFF;

	// greys
	--theme-grey-light: #F2F2F2;
	--theme-grey-mid: #BBB;
	--theme-grey-dark: #666;
	--theme-grey-verydark: #222;

	// standard borders
	--theme-border: #DDD;
	--theme-border-radius: #{utils.rem(5)};
	--theme-border-width: 2px;
	--theme-border-width-s: 1px;
	--theme-border-radius-img: var(--theme-border-radius);

	// text
	--theme-paragraph-color: var(--theme-grey-verydark);
	--theme-paragraph-color-inverted: var(--theme-white);
	--theme-paragraph-subdued-color: #666;
	--theme-paragraph-subdued-color-inverted: #DDD;
	--theme-heading-color: var(--theme-grey-verydark);
	--theme-heading-color-inverted: var(--theme-white);

	// links
	--theme-link-color-default: var(--theme-grey-dark);
	--theme-link-color-default-inverted: var(--theme-white);
	--theme-link-color-visited: var(--theme-grey-dark);
	--theme-link-color-hover: var(--theme-primary);
	--theme-link-color-active: var(--theme-primary-darker);

	// backgrounds
	--theme-bg-default: var(--theme-white);
	--theme-bg-shaded: var(--theme-grey-light);
	--theme-bg-inverted: var(--theme-black);

	// statuses
	--theme-status-error: #DC3545;
	--theme-text-on-status-error: var(--theme-white);
	--theme-status-warning: #FFC107;
	--theme-text-on-status-warning: var(--theme-grey-verydark);
	--theme-status-success: #28A745;
	--theme-text-on-status-success: var(--theme-white);
	--theme-status-info: #1874CD;
	--theme-text-on-status-info: var(--theme-white);

	// SPACING
	// ==========================================================================
	--component-spacing: #{utils.rem(26)};
	--component-padding: #{utils.rem(20)};
}

// FONTS
// ==========================================================================

@mixin font-sizes($scale: 1, $hScale: 1, $set-base-font-size: false) {
	// base font sizes
	--font-size-xl: #{utils.rem(20 * $scale)};
	--font-size-l: #{utils.rem(18 * $scale)};
	--font-size: #{utils.rem(16 * $scale)};
	--font-size-s: #{utils.rem(14 * $scale)};
	--font-size-xs: #{utils.rem(12 * $scale)};
	--font-size-xxs: #{utils.rem(10 * $scale)};

	// size variations
	--font-size-h1: #{utils.rem(52 * $hScale)};
	--font-size-h2: #{utils.rem(42 * $hScale)};
	--font-size-h3: #{utils.rem(36 * $hScale)};
	--font-size-h4: #{utils.rem(26 * $hScale)};
	--font-size-h5: #{utils.rem(22 * $hScale)};
	--font-size-h6: #{utils.rem(18 * $hScale)};

	// margins
	--font-margins: #{utils.rem(14 * $scale)} 0;
	--font-heading-margins: #{utils.rem(36 * $hScale)};
	--font-heading-margins-s: #{utils.rem(24 * $hScale)};
	--font-heading-margins-xs: #{utils.rem(14 * $hScale)};

	@if ($set-base-font-size) {
		font-size: var(--font-size);
	}
}

:root {
	--font-line-height: 1.6;
	--font-line-height-s: 1.4;
	--font-heading-line-height: 1.1;

	// base font sizes
	@include font-sizes(1);

	// fonts
	--font-family: 'Open Sans', Helvetica, sans-serif;
	--font-weight: 400;
	--font-weight-hero: 300;
	--font-feature-family: 'Playfair Display', serif;
	--font-feature-weight: 600;
}

// BASE FONTS
// ==========================================================================

@mixin base-family() {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
}

@mixin base-family-hero($includeFamily: false) {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-hero);
	line-height: var(--font-line-height-s);
	color: var(--theme-paragraph-color);

	@if ($includeFamily) {
		font-family: var(--font-family);
	}
}

@mixin base-family-subtitle($includeFamily: false) {
	font-size: var(--font-size-xs);
	color: var(--theme-paragraph-subdued-color);
	letter-spacing: utils.rem(4);
	text-transform: uppercase;

	@if ($includeFamily) {
		font-family: var(--font-family);
		font-weight: var(--font-weight);
	}
}

// FEATURE FONTS
// ==========================================================================

@mixin feature-family() {
	font-family: var(--font-feature-family);
	font-weight: var(--font-feature-weight);
	letter-spacing: -1px;
}
