// ==========================================================================
// Z-INDEX
// ==========================================================================

$base: 1;
$dropdown: 100;
$offscreen-side: 300;
$tooltip: 700;
$shade-behind-header: 800;
$header: 900;
$nav-search-bar: 950;
$shade: 1000;
$offscreen-over: 1100;
$modal: 1200;
$accessible-links: 2000;
$bp-debug: 9999;
$pull-to-top: 99999;
