---
title: Web Components
eleventyNavigation:
  key: Web Components
  parent: Home
  excerpt: Accessible Web Components to increase usability and functionality of the sites.
status: in-progress
---

{% extends "layouts/docs/index-page.njk" %}
